.App {
  background-color: #FEFEFE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Perfil {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
  margin-top: 1%;
  line-height: 35px;
  background-color: #759EBB;
  border-radius: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 1.2%;
  padding-left: 3%;
  list-style-type: none;
}

.Logo {
  height: 24px;
  margin-right: 10px;
}

#searchBar {
  height: 40px;
  width: 600px;
  font-size: 30px;
  border: 2px solid #759EBB;
  margin-right: 30px;
}

.searchButton {
  height: 40px;
  cursor: pointer;
}